/* getting rid of default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background: #EED9C3;
}


/*main background*/
body {
    background-color: #FCF6F0;
    border-radius: 2%;
    width: 85%;
    margin: 2.5% auto 5% auto;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

/*navbar*/
.navbar {
    background-color:#d1ae8f;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.logo {
    width: 70px;
    display: inline-block;
    margin: 1% 0% 1% 1%;
    vertical-align: middle;
}

.navbar ul{
    padding-inline-start: 0%;
    margin-top: 0%;
}


.navbar ul li {
    margin: 1% 4% 1% 4%;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

/*navbar page buttons*/
.navbar ul li a {
    color: #38281E;
    font-family: 'Sacramento';
    font-weight: 500;
    font-size: 36px;
    text-decoration: none;
}

/*Ideas button*/
.button{
    background-color: #38281E;
    color: white;
    font-family: 'Sacramento';
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 5px 15px 0px 15px;
    display: inline-block;
    border-radius: 25px;
}

/*home cafe pic*/
.banner {
    width: 85%;
    margin: 5% 5% 5% 8.5%;
    border-radius: 50px;
    display: block;
}

/*page description*/
p {
    color: #38281E; 
    font-family: "Zilla Slab"; 
    font-size: 20px;
    width: 77%;
    text-align: center;
    margin: 0% 12% 4% 12%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*page buttons section*/
section {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    gap: 0;
}

/*page links*/ 
.column{
    padding: 0%;
    align-content: center;
    padding: 0;
    margin: 2.5% 0%;
    width: 48%;
}

/*page link pics*/
.column img {
    width: 85%;
    height: auto;
    padding: 0%;
    margin: auto;
    display: block;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

footer {
    text-align: center;
    margin: 2% 0%;
}

/*link to top of page*/
.toTop {
    text-align: center;
    width: 77%;
    color: #908162;
    font-family: 'Outfit';
    text-decoration: none;
    padding: 20px;
}

